.backBtn {
  position: absolute;
  left: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  text-decoration: none;
  color: #000000;
}

.productPage {
  background-color: var(--bg);

  & .content {
    padding: 1rem 3rem;
    border-top: 5px solid var(--bg-dark);
  }

  & .pricing {
    margin-bottom: 3rem;

    &__specialOffer {
      color: red;
    }
    &__includedServices {
      color: green;
    }
  }

  & .productInformation {
    border-bottom: 1px solid var(--bg-dark);
    &__title {
      font-size: 1.25rem;
      font-weight: 200;
    }
  }

  & .productSpec {
    font-size: 1.25rem;
    font-weight: 200;
    margin-top: 1.5rem;
  }

  & .productSpecs {
    margin: 0;
    padding: 0;
    &__spec {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      border-top: 1px solid var(--bg-dark);
      transition: background-color 500ms ease;

      &:hover {
        background-color: var(--bg-dark);
      }

      & > p {
        margin: 0;
      }
    }
  }
}
