.content {
  display: grid;
  gap: 2px;
  background-color: var(--bg-dark);
  color: black;
  padding: 1px;
  font-weight: 200;
  letter-spacing: normal;
  line-height: 20px;
  font-family: GillSansforJL, Gill Sans, Gill Sans MT, Arial, Helvetica,
    sans-serif;
}

@media screen and (min-width: 768px) {
  .content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.link {
  color: inherit;
  text-decoration: none;
  display: block;
  background: white;
}

.pageButtons {
  background-color: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  & .pageButton {
    padding: 1rem;
    margin: 1rem;
    background-color: var(--bg);
    height: 3rem;
    width: 3rem;
    border: 2px solid #000000;
    border-radius: 50%;
    transition: color 500ms ease;
    font-weight: 400;

    &:hover {
      color: var(--txt-light);
    }
  }
}
